.text-align-center{
    text-align: center;
}

.jumbotron-style{

    background-image: url("https://res.cloudinary.com/kristynf/image/upload/v1583416964/Messaging_bt0lts.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Julius Sans One', sans-serif;

    }
.image-resize{
    width: 150px;
    height: 150px;

}

